# Scopul Laboratorului
 
In cadrul primului laborator vom exersa manipularea si extragerea informatiilor din dataset-uri folosind biblioteci din limbajul Python.

### *Atentie!* Inainte de a incepe laboratorul descarcati dataset-urile de la link-ul urmÄƒtor https://drive.google.com/file/d/150MHlLzas_lvvDHxNDxQFZT2E2RTd441/view?usp=sharing si incarcati-le la Files in Colab.

# Cuvinte-Cheie
 
*   Numpy
*   Pandas
*   Series
*   DataFrame
*   Data Cleaning

# Utilizari in Lumea Reala
 
*   analiza metricilor unui sistem/unei aplicatii (performante, erori)
*   meteorologie (vizualizare, predictii)
*   statistici in domeniul medical (de exemplu, rata de imbolnavire cu un virus la persoanele vacinate fata de cele vaccinate)
*   observarea tendintelor sociale/politice/financiare (corelarea studiilor sau a categoriei de varsta cu preferintele unui individ)
*   procesarea limbajului natural
*   analiza feedback-ului consumatorilor (pentru imbunatatirea serviciilor)
*   analiza retelelor sociale

![picture](https://drive.google.com/uc?export=view&id=1bUWb8LXnkmviWqnCRbNPSjC0L3e7m49d)

# Python Memento

Amitim cateva facilitati oferite de limbajul Python:

### List Comprehension
Creeaza o lista pornind de la elementele unei alte liste intr-un one-liner.

In [ ]:
import numpy
integers = [x for x in list(range(0, 10))]
print(integers)

### Slicing
Extrage un fragment contiguu dintr-o lista.


*Atentie!* Un slice [n:m] va intoarce elementele listei pornind *de la indexul n pana la indexul m-1*, intrucat indexarea in Python incepe de la 0.

In [ ]:
half = integers[:5]
print(half)

In [ ]:
mid = integers[4:6]
print(mid)

In [ ]:
all = integers[:]
print(all)

### Lambdas

Lambdas sunt functii anonime scrise ca one-liner. Pot primi oricate argumente si pot fi date drept parametru pentru functionale.

In [ ]:
foo = lambda x: x ** 2 + 3 * x + 1
foo(5)

### Functional Programming

### Filter

In [ ]:
filter(lambda x: x % 2 == 1, integers)

In [ ]:
odd = list(filter(lambda x: x % 2 == 1, integers))
print(odd)

### Map

In [ ]:
squares = list(map(lambda x: x ** 2, integers))
print(squares)

### Reduce

In [ ]:
from functools import reduce
sum = reduce(lambda x, y: x + y, integers)
print(sum)
initial_value = 10
sum = reduce(lambda x, y: x + y, integers, initial_value)
print(sum)

# NumPy

NumPy este o biblioteca pentru limbajul Python specializata pe operatii matematice (structuri de date dedicate, vectorizari, functii optimizate). Ofera instrumente de creare, stocare si manipulare a informatiilor, ceea ce faciliteaza integrarea cu numeroase baze de date.

## Programare orientata pe Array-uri

Elementul de baza in manipularea datelor folosind NumPy este np.array. Acesta poate fi creat fie pornind de la una sau mai multe liste, fie folosind functii speciale.

In [ ]:
import numpy as np

# array uni-dimensional de 5 elemente
uni = np.array([0, 1, 2, 3, 4])
print(uni)
print(type(uni))

In [ ]:
# array multi-dimensional, cu 2 dimensiuni, fiecare avand 4 elemente
multi = np.array([[1, 1, 2, 3], [5, 8, 13, 21]])
print(multi)

Pentru a afla *dimensiunile unui np.array*, putem folosi urmatoarele atribute:
*   *shape*: forma array-ului (distributia elementelor pe linii si coloane)
*   *ndim*: numarul de dimensiuni
*   *size*: numarul total de elemente din array

In [ ]:
print("Array shapes:")
print(uni.shape)
print(multi.shape)
print("\n")

print("Array dimensions:")
print(uni.ndim)
print(multi.ndim)
print("\n")

print("Array size:")
print(uni.size)
print(multi.size)

Cum putem adauga o noua dimensiune la un np.array?

Exista doua variante: \
&emsp; - fie prin apelul metodei reshape careia ii dam drept parametrii *shape*-urile pe care ni le dorim sa le aiba *ndarray*-ul nostru \
&emsp; - fie prin apelul lui np.newaxis in interiorul [] care va adauga o noua dimensiune cu marimea 1 in pozitia in care este pus apelul; acest np.newaxis este doar un alias pentru *None*

In [ ]:
uni_reshaped = uni.reshape(5, 1)
print(uni_reshaped.shape)

In [ ]:
uni_reshaped = uni[:, np.newaxis]
print(uni_reshaped.shape)

In [ ]:
uni_reshaped = uni[:, None]
print(uni_reshaped.shape)

In [ ]:
# array multi-dimensional generat cu numere random:
# np.random.rand(dim_no, dim_size)
np.random.rand(2, 4)

**Observatie**: In momentul generarii de numere aleatore folosind este recomandata folosirea unui *random seed*. Utilitatea acestui *random seed* rezida din dorinta noastra de a avea rezultate replicabile si de catre altii in momentul in care realizam experimente, astfel incat sa nu lucram pe numere diferite la rulari diferite. Singura conditie ce trebuie respectata de catre acest *random seed* este ca el sa nu fie aleatoriu la randul sau.

In [ ]:
# array generat printr-un interval si un pas:
# np.arrange(start, stop, step)
third = np.arange(0, 21, 3)
print(third)

In [ ]:
# interval si un numar de elemente distribuite simetric intr-un spatiu liniar:
# np.linspace(start, stop, elem_no)
np.linspace(0, 10, 9)

## Functii Statistice si de Agregare

In [ ]:
neg = [x for x in range(-10, 0)]
pos = [x for x in range(1, 11)]
arr = np.array([neg, pos])
print(arr)

###    *Media Aritmetica: np.mean()*

In [ ]:
# media pe axa liniilor
print(np.mean(arr, axis=0))

In [ ]:
# media pe axa coloanelor
print(np.mean(arr, axis=1))

In [ ]:
# media tuturor elementelor
print(np.mean(arr))

### *Deviatia Standard:   np.std()*

*Reminder*: deviatia standard indica dispersia unui set de date relativ la media elementelor sale

    std = sqrt(mean(x)), unde x = abs(arr - arr.mean())**2

In [ ]:
np.std(arr)

In [ ]:
np.std(arr, axis=0)

In [ ]:
np.std(arr, axis=1)

### *Suma, Produs: np.sum(), np.prod()*

In [ ]:
np.sum(arr)

In [ ]:
np.sum(arr, axis=0)

In [ ]:
np.sum(arr, axis=1)

In [ ]:
np.prod(arr, axis=0)

### *Min, Max: np.min(), np.max()*

In [ ]:
np.min(arr)

In [ ]:
np.max(arr, axis=1)

### *Min index, Max index: np.argmin(), np.argmax()*

In [ ]:
np.argmin(arr)
np.argmax(arr)

In [ ]:
np.argmax(arr, axis=1)

## Vectorizari

In contextul limbajelor high-level (precum Python, MATLAB, R), vectorizarea descrie utilizarea codului optimizat si pre-compilat pentru a realiza operatii asupra unor secvente de date. Acest lucru presupune executia in-place a operatiei asupra tuturor elementelor colectiei, fara a mai fi nevoie de o iteratie explicita.

Putem observa eficienta vectorizarii prin aplicarea functiei sum() in urmatorul exemplu:

In [ ]:
import timeit

rand_arr = np.random.rand(30, 30)
rand_arr_vect = rand_arr
rand_arr_iter = rand_arr

def add_vect(arr):
  sum = np.sum(arr)

def add_iter(arr):
  sum = 0
  for num in arr:
    sum += num

In [ ]:
%timeit add_vect(rand_arr_vect)

In [ ]:
%timeit add_iter(rand_arr_iter)

## Indexare Booleana
Daca dorim sa accesam doar elementele care respecta o anumita conditie, putem folosi indexarea booleana.

Aceasta presupune crearea unei *masti booleene* (ce verifica pentru fiecare element conditia data si indica True sau False in dreptul fiecarui index, daca aceasta este verificata sau nu), Rezultatul mastii este folosit ulterior drept index pentru gasirea valorilor cautate.

Mastile booleene functioneaza pe array-uri continand orice tip de date (ex. numerice, string, bool).

In [ ]:
arr = np.array([[-10,8,-6,4],
              [-2,0,2,-4],
              [6,-8,10,-12]])
print(arr)

Sa presupunem ca dorim sa extragem doar elementele pozitive din array.

In [ ]:
# cream o masca pentru a gasi pozitiile ce respecta conditia
mask = arr >= 0
print(mask)

In [ ]:
# extragem elementele de pe pozitiile marcate cu True in masca
pos = arr[mask]
print(pos)

## Slicing

NumPy ofera posibilitatea de a extrage o vedere dintr-un array multidimensional prin slicing, similar cu cel din cazul listelor.

In [ ]:
arr = np.array([[10, 11, 12, 13, 14],
               [15, 16, 17, 18, 19],
               [20, 21, 22, 23, 24],
               [25, 26, 27, 28, 29]])

# primul slice extrage liniile, iar cel de-al doilea coloanele cu indecsii specificati
print(arr[1:3, 2:5])

# Pandas

Pandas este o biblioteca pentru limbajul Python specializata pe lucrul cu date, construita peste NumPy. Datorita facilitatilor pe care le ofera, este extrem de utila in preprocesarea, analiza, si vizualizarea datelor, precum si in analiza statistica sau machine learning.

## Series

Un Pandas Series este un array *unidimensional* (sau, mai simplu, o coloana) care poate contine orice tip de date.

Array-ul este *indexat* fie prin valori numerice, fie prin label-uri nominale.

### Cum putem crea Pandas Series?

#### 1. Pornind de la o *lista*

In [ ]:
import numpy as np
import pandas as pd

topics = ['Data Science', 'Networking', 'Machine Learning', 'Bioinformatics', 'Cyber security', None]
pd.Series(topics)

#### 2. Pornind de la un *dictionar*

In [ ]:
students_topics = {'Jack' : 'Networking',
                   'Chloe' : 'Machine Learning',
                   'Frank' : 'Cyber security',
                   'Barbara' : 'Bioinformatics'}
s = pd.Series(students_topics)
print(s)
print(s.index)

#### 3. Pornind de la *o lista de valori si o lista de indecsi*

In [ ]:
s = pd.Series(['Data Science', 'Bioinformatics', 'Networking'], index=['Alice', 'Claire', 'John'])
print(s)
print(s.index)

### Cum accesam datele din Pandas Series?

#### 1. **iloc**: prin pozitia indexului in cadrul Series

In [ ]:
s.iloc[1]

#### 2. **loc**: prin valoarea indexului

In [ ]:
s.loc['Claire']

#### Conventie
Pentru a creste lizibilitatea codului, biblioteca Pandas foloseste o conventie de indexare:
 * daca vom accesa un element folosind un index *de tip intreg*, accesarea va fi echivalenta cu cea folosind atributul *iloc*
 * daca vom accesa un element folosind un index *de tip obiect*, accesarea va fi echivalenta cu cea folosind atributul *loc*

In [ ]:
s[1]

In [ ]:
s['Claire']

*Atentie!* Accesarea folosind un index *de tip intreg* poate fi inselatoare. Astfel, daca indecsii din Series sunt *de tip intreg*, in momentul accesarii pot aparea erori cauzate de faptul ca index-ul pe care dorim sa il folosim nu se afla in Series. Spre exemplu:

In [ ]:
s = pd.Series({20: 'John',
               21: 'Claire',
               22: 'Chloe'})
s[0]

Pentru a nu ne lovi de aceasta eroare vom folosi atributul iloc pentru a accesa primul element din Series.

In [ ]:
s.iloc[0]

## DataFrame

DataFrame este structura cea mai folosita din Pandas.

Reprezinta un array *bidimensional* indexat (numeric sau nominal), in care o linie indica valori pentru o anumita intrare in setul de date, iar o coloana marcheaza elementul masurat. Astfel, valorile de pe o linie *pot* avea tipuri de date diferite, insa cele de pe o coloana *trebuie* sa fie omogene.

### Cum putem crea un DataFrame?

#### 1. Pornind de la un *dictionar* / o *lista de dictionare*

In [ ]:
import pandas as pd
import numpy as np

# dictionar
subjects = {"Subject": ["Computer Programming", "Data Structures"],\
            "Credits": ["5", "5"]}
df = pd.DataFrame(subjects)
df

In exemplul precedent, indecsii iau automat valori numerice pornind de la 0.

Avem insa posibilitatea de a seta indexul dataframe-ului *la momentul crearii* prin argumentul ***index=***:

In [ ]:
df = pd.DataFrame(subjects, index=["S1", "S2"])
df

Indexul mai poate fi setat la o coloana existenta folosind ***.set_index("column_name")***:

In [ ]:
# lista de dictionare
students = [{"Name": "Alice", "Subject": "Computer Programming", "Score": 90},\
            {"Name": "Bob", "Subject": "Computer Programming", "Score": 88}]
df = pd.DataFrame(students)
df.set_index("Name")

Putem reseta indecsii la valorile initiale cu ajutorul ***.reset_index()***:

In [ ]:
df.reset_index()
df

#### 2. Pornind de la un *NumPy ndarray*

In [ ]:
students = np.array([["", 'Subject', 'Score'],
                ["Alice", "Computer Programming", 90],
                ["Bob", "Computer Programming", 88]])

df = pd.DataFrame(data=students[1:, 1:],\
                  index=students[1:, 0],\
                  columns=students[0, 1:])
df

#### 3. Pornind de la Pandas *Series*

In [ ]:
# creare a unei pd.Series pornind de la o lista
subjects = pd.Series(["Computer Programming", "Data Structures",\
                      "OOP", "Programming Paradigms"])
subjects

In [ ]:
df = pd.DataFrame(subjects, columns=["Subject"])
df

#### 4. Citind dataset-ul dintr-un *fisier* (.csv, .json, .xlsx etc.)

In [ ]:
df = pd.read_csv("datasets/AWS_Honeypot.csv")
df.head()

Cum putem afla informatii despre dataframe-ul creat?

In [ ]:
df.info()

Acest apel de **df.info()** ne va da mai multe detalii precum coloanele ce le contine dataframe-ul creat de noi, tipurile datelor stocate pe acele coloane, numarul de valori ce nu sunt
nule pe acele coloane, cat si memoria pe care o ocupa dataframe-ul nostru. \
De retinut: **memoria utilizata de dataframe** ce este intoarsa de **df.info()** este **memorie principala (RAM)** pentru ca *pandas* incarca dataframe-ul in RAM. Acest lucru poate fi costisitor si poate deveni un *bottleneck* in momentul in care lucram cu *Big Data*. \
Daca, totusi, dorim sa lucram cu date care sunt generate continuu, putem folosi Dask [1] sau PySpark [2].

## Valori Lipsa

In practica, putem intalni seturi de date cu valori lipsa. Un data scientist va deduce semnificatia acestora sau le va elimina in procesul de *data cleaning*.

NumPy foloseste ***np.nan*** pentru a indica valori lipsa. NaN (Not a Number) este o valoare de tip float in standardul IEEE, fapt ce permite utilizarea operatiilor matematice asupra structurilor care o contin. Toate operatiile efectuate asupra unor structuri ce contin NaN vor intoarce, la randul lor, NaN.

*Atentie!* np.nan este diferit de None, obiect de tip NoneType care nu accepta operatii matematice.

In [ ]:
a = None
b = np.nan
print(a is b)

In [ ]:
floats = np.array([2, np.nan, -1.3])
print(np.sum(floats))

Pentru a verifica daca o structura contine sau nu valori lipsa, putem folosi *isnull()*.

In [ ]:
series = pd.Series(["Jack", np.nan, "Frank", None])
series.isnull()

In momentul in care lucram cu valori lipsa trebuie sa avem o atentie sporita atunci cand este nevoie sa aplicam asupra lor functii statistice si de agregare din NumPy. 

Cel mai bun exemplu in acest sens este reprezentat de utilizarea functiilor precum np.average, np.mean, np.std. Daca aceste functii sunt aplicate pe un set de date care contine valori lipsa, rezultatul intors de ele va fi np.nan.

In [ ]:
np.average(floats)

In [ ]:
np.mean(floats)

Pentru a putea aplica functiile statistice si de agregare pe care le dorim numai asupra datelor relevante au aparut functiile corespondente - np.nanmean, np.nanstd. Aceste functii sunt construite in asa mod incat sa nu ia in considerare valorile de tip np.nan in momentul calculului.

In [ ]:
np.nanmean(floats)

In [ ]:
np.nanstd(floats)

### **Demo DataFrames**

Vom folosi setul de date *AWS_Honeypot.csv*.

#### *Ce este un Honeypot?*

Un *honeypot* reprezinta un sistem atasat la retea drept "momeala" pentru atacurile cibernetice. Fiind intentionat vulnerabil, acesta face posibila detectarea, devierea si investigarea incercarilor neautorizate de a accesa informatii interne din sistemul principal. Masinile virtuale sunt deseori utilizate pentru a hosta honeypot-uri (pot fi usor restaurate daca sunt compromise).
* *honeynet*: doua sau mai multe honeypot-uri
* *honey farm*: colectie centralizata de honeypot-uri si instrumente de analiza a datelor

![picture](https://drive.google.com/uc?export=view&id=1plXhhQF78u1NYy62JD49EK3vKwJOpv-O)

In acest demo vom simula un analizor de honeypot.

In [ ]:
import pandas as pd
import numpy as np
 
# tinem datasetul honeypot intr-un dataframe
honeypot = pd.read_csv("datasets/AWS_Honeypot.csv")
honeypot.head()

#### Cum accesam datele dintr-un dataframe?

##### 1. ***iloc***

In mod similar cu Series, atributul iloc[n] va intoarce a n-a inregistrare din tabel.

Verificam data ultimei inregistrari din honeypot, inainte de restaurare:

In [ ]:
# va returna ultima intrare/rand din dataframe
honeypot.iloc[-1]

In [ ]:
# va returna primul element din ultima intrare din dataframe ce corespunde
# "datetime"-ului
honeypot.iloc[-1, 0]

##### 2. ***loc***

Pentru a extrage datele despre toate atacurile cu sursa in Romania, putem indexa dupa tara, apoi selecta dupa label folosind atributul loc:

In [ ]:
honeypot.reset_index(inplace=True)
honeypot.set_index("country", inplace=True)
honeypot.loc["Romania"]

In [ ]:
# pentru a gasi "locale" pentru Romania
honeypot.loc["Romania", "locale"].drop_duplicates()

Putem folosi atributul loc pentru preluarea datelor dupa orice label nominal:

In [ ]:
# folosind .loc si masca booleana putem gasi toate atacurile din Germania
honeypot = pd.read_csv("datasets/AWS_Honeypot.csv")
mask = honeypot["country"]=="Germany"
mask
honeypot.loc[honeypot["country"]=="Germany"]

##### 3. Folosind *numele unei coloane*

Extragem toate tarile din care s-au incercat atacurile catre acest honeypot:

In [ ]:
attacker_countries = honeypot["country"].drop_duplicates(keep="first")
attacker_countries.reset_index(drop=True)

De ce necesar apelul de **drop_duplicates()** in procesul de *curatare* al datelor? \
Deoarece in momentul in care antrenam algoritmi de *Machine Learning* pe seturi de date care contin duplicate, acestea pot favoriza un anumit exemplu sau anumite *features* ce sunt extrase din acel exemplu in detrimentul altora, din cauza ponderii pe care o au. De asemenea, poate pastrarea duplicatelor face mai usor *data leakage*-ul despre care vom vorbi in Laboratorul 10.

##### 4. Prin *slicing* si/sau *subsetting* (lista de indecsi, coloane)

In [ ]:
honeypot.loc[:100, ["datetime", "spt", "dpt"]]

#### Cum redenumim titlurile coloanelor?

##### 1. ***df.rename***

df.rename(columns={old:new, ...})

In [ ]:
honeypot.rename(columns={"src": "bandwidth", "srcstr": "ip"}, inplace=True)
honeypot.head()

##### 2. ***mapper***

Este folosit tot prin df.rename().

De aceasta data, este data ca parametru o functie (mapper) care indica modificarile asupra titlurilor coloanelor (axis=1) sau indecsilor (axis=0).

In [ ]:
def port_foo(column):
  if (column == "spt"):
    return "Src Port"
  if (column == "dpt"):
    return "Dst Port"
  return column
 
honeypot.rename(mapper=port_foo, axis=1, inplace=True)
honeypot.head()

##### 3. ***df.columns***

df.columns = ["col0_new", "col1_new", ....]

Se precizeaza noile valori pentru toate coloanele, in ordine.

In [ ]:
honeypot.columns = ["DateTime", "Host", "Bandwidth", "Protocol",\
                    "Type", "SrcPort", "DstPort", "IP", "Country",\
                    "Locale", "Latitude", "Longitude"]
honeypot.head()

#### Cum scriem query-uri folosind Boolean Masking?

Vrem sa gasim date despre atacurile din China interceptate incepand cu ora 5:00 (toate inregistrarile din honeypot-ul dat au loc in aceeasi zi) .

*Pandas are functionalitati speciale pentru lucrul cu date si ore. De exemplu, pd.to_datetime() converteste orice format orar la unul standard.*

In [ ]:
import datetime
honeypot = pd.read_csv("datasets/AWS_Honeypot.csv")
honeypot["datetime"] = pd.to_datetime(honeypot["datetime"])
honeypot.head()

Putem crea doua masti - una pentru fiecare conditie - si sa accesam dataframe-ul cu ajutorul lor.

*Atentie!*
* operatorii logici sunt bitwise-like (fata de Python, unde avem "and", "or")
* locul parantezelor conteaza

Avem doua posibilitati:

##### 1. *df[mask]*

In [ ]:
start_time = "2013-03-08 05:00:00"
 
honeypot[(honeypot["datetime"] >= start_time) & (honeypot["country"] == "China")].reset_index(drop=True)

##### 2. *df.where(mask)*

Mai jos avem un exemplu de *Pandas Chaining*. Mai multe metode sunt aplicate pe rand aceluiasi obiect prin inlantuire, crescand lizibilitatea codului. In cazul nostru, mai intai aplicam o masca pentru filtrare, apoi eliminam liniile care au cel putin doua valori NaN.

In [ ]:
honeypot.where((honeypot["datetime"] >= start_time) & (honeypot["country"] == "China")).dropna(thresh=2)

#### Cum manipulam un DataFrame folosind functionale?

Acest honey farm colecteaza valorile bandwidth-ului unui atac in bps (biti per secunda), ceea ce le face greu de urmarit.

Vom crea o functie care va converti bandwidth-ul la Gbps (gigabiti per secunda) si o vom aplica pe datele din dataframe folosind *apply()*.

In [ ]:
honeypot = pd.read_csv("datasets/AWS_Honeypot.csv")

def convert_to_gbps(bandwidth):
  return round((float) (bandwidth / (10 ** 9)), 2)

honeypot["src"] = honeypot["src"].apply(lambda x: convert_to_gbps(x))
honeypot.head()

#### Cum intelegem datele la nivel de grup? *(groupby)*

Dorim sa interpretam datele in functie de protocolul folosit in atac:

In [ ]:
for group, frame in honeypot.groupby("proto"):
  print(str(group) + ": " + str(len(frame)) + " records")

##### **GroupBy** este un proces ce implica cel putin unul din pasii *split-apply-combine*:

*   *split*: datele se impart in grupuri dupa un criteriu
*   *apply*: se aplica o functie pe fiecare grup
*   *combine*: rezultatele sunt agregate intr-o structura

La pasul apply, putem folosi groupby() impreuna cu una din functiile:

*Aggregate*

Pasam un dictionar avand numele coloanelor de interpretat drept chei si functiile necesare interpretarii drept valori.

Analizam in continuare grupurile, calculand bandwidth-ul mediu si latitudinea minima pentru fiecare:

In [ ]:
honeypot.groupby("proto").agg({"src": np.nanmean, "latitude": np.min})

*Filter*

Pasam o functie care se aplica pe fiecare grup si intoarce True sau False, in functie de rezultatul grupului la filtru.

Vrem sa gasim informatii doar despre atacurile din grupurile care au media bandwidth-ului mai mare de 2.5 Gbps:

In [ ]:
# gasim informatii doar despre atacurile din grupurile care au media
# bandwidth-ului mai mare de 2.5 Gbps
bw = honeypot.groupby("proto").filter(lambda df: np.nanmean(df["src"]) > 2.5)
bw.reset_index(inplace=True)
bw.drop(columns="index")

*Apply*

Pasam o functie care se va aplica pe fiecare grup, oferindu-ne posibilitatea de a pastra rezultatele obtinute in cadrul aceluiasi dataframe.

Intentionam sa grupam atacurile dupa protocolul folosit si sa aflam care este deviatia standard a fiecarui atac fata de media grupului din care face parte.

In [ ]:
df = honeypot[['src', 'proto']]

def compute_std_dev(group):
  avg = np.nanmean(group['src'])
  group['avg'] = avg
  group['std_dev'] = np.abs(avg - group['src'])
  return group

df.groupby('proto').apply(compute_std_dev)

#### Cum analizam datele din mai multe surse? *(merging dataframes)*

Pandas vine la dispozitie cu instrumente in acest scop, precum *merge()* (similar join-ului din SQL) si *concat()*.

![picture](https://drive.google.com/uc?export=view&id=1M3knXIAZxlk_lKoAIhW8FMYLuE8pPCwj)

In [ ]:
first = pd.read_csv("datasets/AWS_Honeypot.csv")
first = first.head(5)
print(first.shape)
first

In [ ]:
pip install pandas-ods-reader

In [ ]:
pip install odfpy

In [ ]:
#loc = pd.read_ods("AWS_Honeypot_location.ods")
loc = pd.read_excel("datasets/AWS_Honeypot_location.ods", engine="odf")
loc = loc.head(10)
print(loc.shape)
loc

##### *Inner Merge*

Join-ul se va face dupa coloanele comune.
Este tipul implicit de merge.

In [ ]:
inner = pd.merge(first, loc)
print(inner.shape)
inner

Putem preciza coloanele dupa care vrem sa facem merge folosind *on*.

Coloanele care se regasesc in ambele dataframe-uri, dar nu sunt folosite drept valori pentru *on*, se vor interpreta individual si, deci, vor aparea impreuna in noul dataframe. Acestea se vor diferentia prin indicele atasat la final (*_x*, *_y*).

In [ ]:
inner = pd.merge(first, loc, on=["host", "srcstr"])
print(inner.shape)
inner

##### *Outer Merge*

Combina toate liniile din cele doua dataframe-uri, adaugand NaN acolo unde nu se gasesc valori corespunzatoare.

In [ ]:
outer = pd.merge(first, loc, how="outer")
print(outer.shape)
outer

##### *Left (Outer) Merge*

Pastreaza toate liniile din dataframe-ul stang. Va adauga NaN acolo unde nu exista valori corespunzatoare pentru variabila *on* in dataframe-ul drept.

In [ ]:
left = pd.merge(first, loc, how="left", on=["datetime", "host", "latitude", "longitude"])
print(left.shape)
left

##### *Right (Outer) Merge*

Pastreaza toate liniile din dataframe-ul drept. Va adauga NaN acolo unde nu exista valori corespunzatoare pentru variabila *on* in dataframe-ul stang.

In [ ]:
right = pd.merge(first, loc, how="right", on=["datetime", "host", "latitude", "longitude"])
print(right.shape)
right

Primim un nou set de date din honeypot.

##### *Concat*

In [ ]:
from pandas_ods_reader import read_ods

second = read_ods("datasets/AWS_Honeypot_2.ods")
second = second.head(5)
print(second.shape)
second

Folosind parametrul axis, putem specifica daca dorim concatenarea dataframe-urilor pe verticala, de-a lungul liniilor (axis=0) sau pe orizontala, de-a lungul coloanelor (axis=1).

In [ ]:
all = pd.concat([first, second], axis=0)
print(all.shape)
all

In [ ]:
all = pd.concat([first, loc], axis=1)
# ruleaza celula, apoi decomenteaza linia urmatoare
all = all.loc[:,~all.columns.duplicated()]
print(all.shape)
all

# Exercitii Laborator

In exercitiile propuse spre rezolvare, vom folosi urmatoarele dataset-uri:
*   *movies.csv*
      * contine date despre filmele din top 100 IMDB (precum titlul, anul aparitiei, rating, gen)
*   *academy_awards.xlsx*
* *bafta.xlsx*
* *golden_globes.xlsx*
  
  * contin informatii despre nominalizari si premii castigate la 3 festivaluri de catre filmele din top 100 IMDB
  * cele 6 categorii luate in considerare (ex. best film, best actor) au aceeasi denumire in toate cele 3 dataset-uri
  * in dreptul unei categorii, un film poate avea una din urmatoarele valori:
    * *1*, daca filmul a castigat acel premiu
    * *2*, daca filmul a fost nominalizat pentru acel premiu, dar nu a castigat
    * *nicio valoare*, daca filmul nu a fost nici macar nominalizat pentru acel premiu (se poate interpreta ca nan)

In [116]:
import pandas as pd
import numpy as np
 
# top 100 IMDB movies
movies = pd.read_csv("datasets/movies.csv")
movies.head()

,imdb_title_id,original_title,year,genre,duration,director,writer,production_company,actors,description,avg_vote,votes
0,tt0111161,The Shawshank Redemption,1994,Drama,142,Frank Darabont,"Stephen King, Frank Darabont",Castle Rock Entertainment,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,9.3,2278845
1,tt0068646,The Godfather,1972,"Crime, Drama",175,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",Paramount Pictures,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,9.2,1572674
2,tt0071562,The Godfather: Part II,1974,"Crime, Drama",202,Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo",Paramount Pictures,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...,9.0,1098714
3,tt0468569,The Dark Knight,2008,"Action, Crime, Drama",152,Christopher Nolan,"Jonathan Nolan, Christopher Nolan",Warner Bros.,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker wreaks havo...,9.0,2241615
4,tt0050083,12 Angry Men,1957,"Crime, Drama",96,Sidney Lumet,"Reginald Rose, Reginald Rose",Orion-Nova Productions,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...,8.9,668473

In [119]:
# awards
academy_awards = pd.read_excel("datasets/academy_awards.xlsx")
bafta = pd.read_excel("datasets/bafta.xlsx")
golden_globes = pd.read_excel("datasets/golden_globes.xlsx")

# academy_awards.drop(columns="id", inplace=True)
academy_awards.head()

,id,original_title,Festival,Year,Best 1 (picture),Best 2 (actor),Best 3 (actress),Best 4 (director),Best 5 (supporting actor),Best 6 (supporting actress)
0,1,The Shawshank Redemption,Academy Awards,1995,2.0,2.0,NaN,NaN,NaN,NaN
1,2,The Godfather,Academy Awards,1973,1.0,1.0,NaN,2.0,2.0,NaN
2,3,The Godfather: Part II,Academy Awards,1975,1.0,2.0,NaN,1.0,1.0,NaN
3,4,The Dark Knight,Academy Awards,2009,NaN,NaN,NaN,NaN,1.0,NaN
4,5,12 Angry Men,Academy Awards,1958,2.0,NaN,NaN,2.0,NaN,NaN

### 1. In dataframe-urile corespunzatoare celor trei festivaluri, redenumiti astfel:

  * Numele coloanelor corespunzatoare categoriilor de premii:

        "Best 1 (picture)": "Best Picture"
        "Best 2 (actor)": "Best Actor"
        "Best 3 (actress)": "Best Actress"
        "Best 4 (director)": "Best Director"
        "Best 5 (supporting actor)": "Best Supporting Actor"
        "Best 6 (supporting actress)": "Best Supporting Actress"

  * Numele unor titluri de film cu traducerile lor in engleza:
  
        "Il buono, il brutto, il cattivo" : "The Good, the Bad and the Ugly"
        "Dag II" : "The Mountain II"
        "Schichinin no samurai" : "Seven Samurai"
        "Sen to Chihiro no kamikakushi" : "Spirited Away"
        "Gisaengchung" : "Parasite"
        "C'era una volta il West" : "Once Upon A Time  in the West"
        "Hotaru no haka" : "Grave of the Fireflies" 
        "Mononoke-hime" : "Princess Mononoke"
        "Oldeuboi" : "Oldboy" 
        "Das Leben ser Anderen" : "The Lives of Others"
        "Kimi no na wa." : "Your Name."
        "CapharnaÃ¼m" : "Capernaum"
        "Ladri di biciclette" : "Bycicle Thieves"
        "Per qualche dollaro in piÃ¹" : "For a Few Dollars More"

In [120]:
titles = {"Il buono, il brutto, il cattivo" : "The Good, the Bad and the Ugly",
          "Dag II" : "The Mountain II",
          "Shichinin no samurai" : "Seven Samurai",
          "Sen to Chihiro no kamikakushi" : "Spirited Away",
          "Gisaengchung" : "Parasite",
          "C'era una volta il West" : "Once Upon A Time  in the West",
          "Hotaru no haka" : "Grave of the Fireflies",
          "Mononoke-hime" : "Princess Mononoke",
          "Oldeuboi" : "Oldboy",
          "Das Leben ser Anderen" : "The Lives of Others",
          "Kimi no na wa." : "Your Name.",
          "CapharnaÃ¼m" : "Capernaum",
          "Ladri di biciclette" : "Bycicle Thieves",
          "Per qualche dollaro in piÃ¹" : "For a Few Dollars More",
}

In [121]:
academy_awards.rename(columns={"Best 1 (picture)": "Best Picture",
                               "Best 2 (actor)": "Best Actor",
                               "Best 3 (actress)": "Best Actress",
                               "Best 4 (director) ": "Best Director",
                               "Best 5 (supporting actor)": "Best Supporting Actor",
                               "Best 6 (supporting actress)": "Best Supporting Actress"},
                      inplace=True)
academy_awards["original_title"] = academy_awards["original_title"].apply(lambda x: titles[x] if(x in titles.keys()) else x)
academy_awards

,id,original_title,Festival,Year,Best Picture,Best Actor,Best Actress,Best Director,Best Supporting Actor,Best Supporting Actress
0,1,The Shawshank Redemption,Academy Awards,1995,2.0,2.0,NaN,NaN,NaN,NaN
1,2,The Godfather,Academy Awards,1973,1.0,1.0,NaN,2.0,2.0,NaN
2,3,The Godfather: Part II,Academy Awards,1975,1.0,2.0,NaN,1.0,1.0,NaN
3,4,The Dark Knight,Academy Awards,2009,NaN,NaN,NaN,NaN,1.0,NaN
4,5,12 Angry Men,Academy Awards,1958,2.0,NaN,NaN,2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
95,96,Taxi Driver,Academy Awards,1977,2.0,2.0,NaN,NaN,NaN,2.0
96,97,Das Boot,Academy Awards,1983,NaN,NaN,NaN,2.0,NaN,NaN
97,98,Star Wars: Episode VI - Return of the Jedi,Academy Awards,1984,NaN,NaN,NaN,NaN,NaN,NaN
98,99,Scarface,Academy Awards,1984,NaN,NaN,NaN,NaN,NaN,NaN
99,100,Amadeus,Academy Awards,1985,1.0,1.0,NaN,1.0,NaN,NaN

In [122]:
bafta.rename(columns={"Best 1 (picture)": "Best Picture",
                               "Best 2 (actor)": "Best Actor",
                               "Best 3 (actress)": "Best Actress",
                               "Best 4 (director)": "Best Director",
                               "Best 5 (supporting actor)": "Best Supporting Actor",
                               "Best 6 (supporting actress)": "Best Supporting Actress"},
                      inplace=True)
bafta["original_title"] = bafta["original_title"].apply(lambda x: titles[x] if(x in titles.keys()) else x)
bafta

,id,original_title,Festival,Year,Best Picture,Best Actor,Best Actress,Best Director,Best Supporting Actor,Best Supporting Actress
0,1,The Shawshank Redemption,BAFTA,1995,NaN,NaN,NaN,NaN,NaN,NaN
1,2,The Godfather,BAFTA,1973,NaN,2.0,NaN,NaN,2.0,NaN
2,3,The Godfather: Part II,BAFTA,1976,NaN,1.0,NaN,NaN,NaN,NaN
3,4,The Dark Knight,BAFTA,2009,NaN,NaN,NaN,NaN,1.0,NaN
4,5,12 Angry Men,BAFTA,1958,2.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
95,96,Taxi Driver,BAFTA,1977,2.0,2.0,NaN,2.0,NaN,1.0
96,97,Das Boot,BAFTA,1983,NaN,NaN,NaN,NaN,NaN,NaN
97,98,Star Wars: Episode VI - Return of the Jedi,BAFTA,1984,NaN,NaN,NaN,NaN,NaN,NaN
98,99,Scarface,BAFTA,1984,NaN,NaN,NaN,NaN,NaN,NaN
99,100,Amadeus,BAFTA,1986,2.0,2.0,NaN,NaN,NaN,NaN

In [123]:
golden_globes.rename(columns={"Best 1 (picture)": "Best Picture",
                               "Best 2 (actor)": "Best Actor",
                               "Best 3 (actress)": "Best Actress",
                               "Best 4 (director)": "Best Director",
                               "Best 5 (supporting actor)": "Best Supporting Actor",
                               "Best 6 (supporting actress)": "Best Supporting Actress"},
                      inplace=True)
golden_globes["original_title"] = golden_globes["original_title"].apply(lambda x: titles[x] if(x in titles.keys()) else x)
golden_globes

,id,original_title,Festival,Year,Best Picture,Best Actor,Best Actress,Best Director,Best Supporting Actor,Best Supporting Actress
0,1,The Shawshank Redemption,Golden Globes,1995,NaN,1.0,NaN,NaN,NaN,NaN
1,2,The Godfather,Golden Globes,1973,1.0,1.0,NaN,1.0,2.0,NaN
2,3,The Godfather: Part II,Golden Globes,1975,2.0,2.0,NaN,2.0,NaN,NaN
3,4,The Dark Knight,Golden Globes,2009,NaN,1.0,NaN,NaN,NaN,NaN
4,5,12 Angry Men,Golden Globes,1998,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
95,96,Taxi Driver,Golden Globes,1977,NaN,1.0,NaN,NaN,NaN,NaN
96,97,Das Boot,Golden Globes,1982,NaN,NaN,NaN,NaN,NaN,NaN
97,98,Star Wars: Episode VI - Return of the Jedi,Golden Globes,1984,NaN,NaN,NaN,NaN,NaN,NaN
98,99,Scarface,Golden Globes,1984,NaN,2.0,NaN,NaN,2.0,NaN
99,100,Amadeus,Golden Globes,1985,NaN,1.0,NaN,1.0,1.0,NaN

### 2. Adaugati cate doua coloane noi fiecaruia dintre cele trei dataframe-uri de tip festival, astfel:

* o coloana numita "Winner", continand numarul total de premii castigate de un film
* o coloana numita "Nominee", continand numarul total de nominalizari ale unui film

  *Atentie!* In acest calcul, vom considera ca un premiu castigat implica si o nominalizare.

In [124]:
import math

def compute_winner(df_line):
  sum = 0

  if not math.isnan(df_line["Best Picture"]) and df_line["Best Picture"] == 1:
    sum += 1
  if not math.isnan(df_line["Best Actor"]) and df_line["Best Actor"] == 1:
    sum += 1
  if not math.isnan(df_line["Best Actress"]) and df_line["Best Actress"] == 1:
    sum += 1
  if not math.isnan(df_line["Best Director"]) and df_line["Best Director"] == 1:
    sum += 1
  if not math.isnan(df_line["Best Supporting Actor"]) and df_line["Best Supporting Actor"] == 1:
    sum += 1
  if not math.isnan(df_line["Best Supporting Actress"]) and df_line["Best Supporting Actress"] == 1:
    sum += 1

  return sum

def compute_nominee(df_line):
  sum = 0

  if not math.isnan(df_line["Best Picture"]):
    sum += 1
  if not math.isnan(df_line["Best Actor"]):
    sum += 1
  if not math.isnan(df_line["Best Actress"]):
    sum += 1
  if not math.isnan(df_line["Best Director"]):
    sum += 1
  if not math.isnan(df_line["Best Supporting Actor"]):
    sum += 1
  if not math.isnan(df_line["Best Supporting Actress"]):
    sum += 1

  return sum

In [125]:
def add_columns(df_line):
  df_line["Winner"] = compute_winner(df_line)
  df_line["Nominee"] = compute_nominee(df_line)
  return df_line

In [126]:
academy_awards = academy_awards.apply(add_columns, 1)
academy_awards

,id,original_title,Festival,Year,Best Picture,Best Actor,Best Actress,Best Director,Best Supporting Actor,Best Supporting Actress,Winner,Nominee
0,1,The Shawshank Redemption,Academy Awards,1995,2.0,2.0,NaN,NaN,NaN,NaN,0,2
1,2,The Godfather,Academy Awards,1973,1.0,1.0,NaN,2.0,2.0,NaN,2,4
2,3,The Godfather: Part II,Academy Awards,1975,1.0,2.0,NaN,1.0,1.0,NaN,3,4
3,4,The Dark Knight,Academy Awards,2009,NaN,NaN,NaN,NaN,1.0,NaN,1,1
4,5,12 Angry Men,Academy Awards,1958,2.0,NaN,NaN,2.0,NaN,NaN,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Taxi Driver,Academy Awards,1977,2.0,2.0,NaN,NaN,NaN,2.0,0,3
96,97,Das Boot,Academy Awards,1983,NaN,NaN,NaN,2.0,NaN,NaN,0,1
97,98,Star Wars: Episode VI - Return of the Jedi,Academy Awards,1984,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98,99,Scarface,Academy Awards,1984,NaN,NaN,NaN,NaN,NaN,NaN,0,0
99,100,Amadeus,Academy Awards,1985,1.0,1.0,NaN,1.0,NaN,NaN,3,3

In [127]:
bafta = bafta.apply(add_columns, 1)
bafta

,id,original_title,Festival,Year,Best Picture,Best Actor,Best Actress,Best Director,Best Supporting Actor,Best Supporting Actress,Winner,Nominee
0,1,The Shawshank Redemption,BAFTA,1995,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,2,The Godfather,BAFTA,1973,NaN,2.0,NaN,NaN,2.0,NaN,0,2
2,3,The Godfather: Part II,BAFTA,1976,NaN,1.0,NaN,NaN,NaN,NaN,1,1
3,4,The Dark Knight,BAFTA,2009,NaN,NaN,NaN,NaN,1.0,NaN,1,1
4,5,12 Angry Men,BAFTA,1958,2.0,1.0,NaN,NaN,NaN,NaN,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Taxi Driver,BAFTA,1977,2.0,2.0,NaN,2.0,NaN,1.0,1,4
96,97,Das Boot,BAFTA,1983,NaN,NaN,NaN,NaN,NaN,NaN,0,0
97,98,Star Wars: Episode VI - Return of the Jedi,BAFTA,1984,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98,99,Scarface,BAFTA,1984,NaN,NaN,NaN,NaN,NaN,NaN,0,0
99,100,Amadeus,BAFTA,1986,2.0,2.0,NaN,NaN,NaN,NaN,0,2

In [128]:
golden_globes = golden_globes.apply(add_columns, 1)
golden_globes

,id,original_title,Festival,Year,Best Picture,Best Actor,Best Actress,Best Director,Best Supporting Actor,Best Supporting Actress,Winner,Nominee
0,1,The Shawshank Redemption,Golden Globes,1995,NaN,1.0,NaN,NaN,NaN,NaN,1,1
1,2,The Godfather,Golden Globes,1973,1.0,1.0,NaN,1.0,2.0,NaN,3,4
2,3,The Godfather: Part II,Golden Globes,1975,2.0,2.0,NaN,2.0,NaN,NaN,0,3
3,4,The Dark Knight,Golden Globes,2009,NaN,1.0,NaN,NaN,NaN,NaN,1,1
4,5,12 Angry Men,Golden Globes,1998,NaN,1.0,NaN,NaN,NaN,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Taxi Driver,Golden Globes,1977,NaN,1.0,NaN,NaN,NaN,NaN,1,1
96,97,Das Boot,Golden Globes,1982,NaN,NaN,NaN,NaN,NaN,NaN,0,0
97,98,Star Wars: Episode VI - Return of the Jedi,Golden Globes,1984,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98,99,Scarface,Golden Globes,1984,NaN,2.0,NaN,NaN,2.0,NaN,0,2
99,100,Amadeus,Golden Globes,1985,NaN,1.0,NaN,1.0,1.0,NaN,3,3

Acum avem o evidenta generala a castigurilor si nominalizarilor.

* Eliminati coloanele corespunzatoare celor sase categorii din fiecare dataframe si pastrati doar valorile calculate anterior.

In [129]:
academy_awards = academy_awards[["id", "original_title", "Festival", "Year", "Winner", "Nominee"]]
academy_awards

,id,original_title,Festival,Year,Winner,Nominee
0,1,The Shawshank Redemption,Academy Awards,1995,0,2
1,2,The Godfather,Academy Awards,1973,2,4
2,3,The Godfather: Part II,Academy Awards,1975,3,4
3,4,The Dark Knight,Academy Awards,2009,1,1
4,5,12 Angry Men,Academy Awards,1958,0,2
...,...,...,...,...,...,...
95,96,Taxi Driver,Academy Awards,1977,0,3
96,97,Das Boot,Academy Awards,1983,0,1
97,98,Star Wars: Episode VI - Return of the Jedi,Academy Awards,1984,0,0
98,99,Scarface,Academy Awards,1984,0,0
99,100,Amadeus,Academy Awards,1985,3,3

In [130]:
bafta = bafta[["id", "original_title", "Festival", "Year", "Winner", "Nominee"]]
bafta

,id,original_title,Festival,Year,Winner,Nominee
0,1,The Shawshank Redemption,BAFTA,1995,0,0
1,2,The Godfather,BAFTA,1973,0,2
2,3,The Godfather: Part II,BAFTA,1976,1,1
3,4,The Dark Knight,BAFTA,2009,1,1
4,5,12 Angry Men,BAFTA,1958,1,2
...,...,...,...,...,...,...
95,96,Taxi Driver,BAFTA,1977,1,4
96,97,Das Boot,BAFTA,1983,0,0
97,98,Star Wars: Episode VI - Return of the Jedi,BAFTA,1984,0,0
98,99,Scarface,BAFTA,1984,0,0
99,100,Amadeus,BAFTA,1986,0,2

In [131]:
golden_globes = golden_globes[["id", "original_title", "Festival", "Year", "Winner", "Nominee"]]
golden_globes

,id,original_title,Festival,Year,Winner,Nominee
0,1,The Shawshank Redemption,Golden Globes,1995,1,1
1,2,The Godfather,Golden Globes,1973,3,4
2,3,The Godfather: Part II,Golden Globes,1975,0,3
3,4,The Dark Knight,Golden Globes,2009,1,1
4,5,12 Angry Men,Golden Globes,1998,1,1
...,...,...,...,...,...,...
95,96,Taxi Driver,Golden Globes,1977,1,1
96,97,Das Boot,Golden Globes,1982,0,0
97,98,Star Wars: Episode VI - Return of the Jedi,Golden Globes,1984,0,0
98,99,Scarface,Golden Globes,1984,0,2
99,100,Amadeus,Golden Globes,1985,3,3

### 3. Extrageti din fiecare festival filmul care a castigat cele mai multe premii. Creati un nou dataframe care sa contina aceste trei filme.

In [132]:
max_winner = np.max(academy_awards["Winner"])
academy_award_movie = academy_awards[academy_awards["Winner"] == max_winner]

max_winner = np.max(bafta["Winner"])
bafta_movie = bafta[bafta["Winner"] == max_winner]

max_winner = np.max(golden_globes["Winner"])
golden_globes_movie = golden_globes[golden_globes["Winner"] == max_winner]

winner_movies = pd.DataFrame(academy_award_movie)
winner_movies = winner_movies.append(bafta_movie, ignore_index=True)
winner_movies = winner_movies.append(golden_globes_movie, ignore_index=True)
print(winner_movies)

# If we want to delete the duplicates
winner_movies = winner_movies.drop_duplicates(subset=['id', 'original_title'])
print()
print(winner_movies)

   id                   original_title        Festival  Year  Winner  Nominee
0  16  One Flew Over the Cuckoo's Nest  Academy Awards  1976       4        5
1  24         The Silence of the Lambs  Academy Awards  1992       4        4
2  16  One Flew Over the Cuckoo's Nest           BAFTA  1977       5        5
3  16  One Flew Over the Cuckoo's Nest   Golden Globes  1976       4        4

   id                   original_title        Festival  Year  Winner  Nominee
0  16  One Flew Over the Cuckoo's Nest  Academy Awards  1976       4        5
1  24         The Silence of the Lambs  Academy Awards  1992       4        4

### 4. Care este filmul cu cele mai multe nominalizari la toate cele 3 festivaluri?

*Hint: concat(), set_index().*

In [134]:
nominee_movies = pd.DataFrame(academy_awards)
nominee_movies = pd.concat([nominee_movies[['id', 'Nominee', 'original_title']], bafta["Nominee"], golden_globes["Nominee"]], axis=1)
nominee_movies = nominee_movies.groupby(nominee_movies.columns, axis=1).sum()

max_nominee = np.max(nominee_movies['Nominee'])

nominee_movies_res = nominee_movies[nominee_movies['Nominee'] == max_nominee]
nominee_movies_res = nominee_movies_res.reset_index(drop=True)
print(nominee_movies_res)

   Nominee  id                   original_title
0       14   7                     Pulp Fiction
1       14  16  One Flew Over the Cuckoo's Nest

### 5. Ce proportie din filmele din top 100 IMDB nu au fost nominalizate la nici macar un festival?

In [136]:
nominee_movies_zero = nominee_movies[nominee_movies['Nominee'] == 0]
no_unnominee = nominee_movies_zero.shape

no_nominee = nominee_movies.shape

print(str(no_unnominee[0] * 100 / no_nominee[0]) + "%")

41.0%

### 6. Returnati filmele care: au o nota mai mare strict decat 8.5 pe IMDB, sunt regizate de unul dintre regizorii ["Quentin Tarantino", "David Fincher", "Stanley Kubrik", "Christopher Nolan"] si sunt mai recente de 1989.

*Hint: boolean mask.*

In [138]:
movies = pd.read_csv("datasets/movies.csv")
movies = movies[(movies['avg_vote'] > 8.5)]
movies = movies[(movies['year'] > 1989)]
movies = movies[(movies['director'] == "Quentin Tantino") |
                (movies['director'] == "David Fincher") |
                (movies['director'] == "Stanley Kubrik") |
                (movies['director'] == "Christopher Nolan")]

print(movies[['original_title', 'avg_vote', 'director', 'year']])

     original_title  avg_vote           director  year
3   The Dark Knight       9.0  Christopher Nolan  2008
11       Fight Club       8.8      David Fincher  1999
12        Inception       8.8  Christopher Nolan  2010
24            Se7en       8.6      David Fincher  1995
30     Interstellar       8.6  Christopher Nolan  2014

### 7. Calculati deviatia standard a rating-ului fiecarui film fata de nota medie a filmelor din acelasi gen.

Rezultatul poate fi fie o noua coloana, fie un Series.

In [140]:
def add_avg_genre_vote(group):
  group['avg_genre_vote'] = np.average(group['avg_vote'])
  return group

movies = pd.read_csv("datasets/movies.csv")

movies_avg = movies.groupby('genre').apply(add_avg_genre_vote)

standard_deviation = movies_avg['avg_vote'] - movies_avg['avg_genre_vote']
standard_deviation = np.abs(standard_deviation)
print(standard_deviation)

0     0.700000
1     0.500000
2     0.300000
3     0.250000
4     0.200000
        ...
95    0.400000
96    0.000000
97    0.233333
98    0.400000
99    0.300000
Length: 100, dtype: float64

### 8. Filtrati dataframe-ul movies, astfel incat sa contina doar filmele cu media rating-ului genului mai mare decat 8.65.

In [141]:
movies_avg = movies_avg[movies_avg['avg_genre_vote'] > 8.65]

print(movies_avg)

   imdb_title_id               original_title  year                    genre  \
1      tt0068646                The Godfather  1972             Crime, Drama
2      tt0071562       The Godfather: Part II  1974             Crime, Drama
3      tt0468569              The Dark Knight  2008     Action, Crime, Drama
4      tt0050083                 12 Angry Men  1957             Crime, Drama
6      tt0110912                 Pulp Fiction  1994             Crime, Drama
9      tt0109830                 Forrest Gump  1994           Drama, Romance
13     tt5813916                       Dag II  2016       Action, Drama, War
17     tt0099685                   Goodfellas  1990  Biography, Crime, Drama
29     tt0317248               Cidade de Deus  2002             Crime, Drama
42     tt0110413                         LÃ©on  1994     Action, Crime, Drama
62     tt0087843  Once Upon a Time in America  1984             Crime, Drama
95     tt0075314                  Taxi Driver  1976             Crime, Drama
98     tt0086250                     Scarface  1983             Crime, Drama

    duration                        director  \
1        175            Francis Ford Coppola
2        202            Francis Ford Coppola
3        152               Christopher Nolan
4         96                    Sidney Lumet
6        154               Quentin Tarantino
9        142                 Robert Zemeckis
13       135                    Alper Caglar
17       146                 Martin Scorsese
29       130  Fernando Meirelles, KÃ¡tia Lund
42       110                      Luc Besson
62       229                    Sergio Leone
95       114                 Martin Scorsese
98       170                  Brian De Palma

                                writer      production_company  \
1     Mario Puzo, Francis Ford Coppola      Paramount Pictures
2     Francis Ford Coppola, Mario Puzo      Paramount Pictures
3    Jonathan Nolan, Christopher Nolan            Warner Bros.
4         Reginald Rose, Reginald Rose  Orion-Nova Productions
6       Quentin Tarantino, Roger Avary                 Miramax
9             Winston Groom, Eric Roth      Paramount Pictures
13                        Alper Caglar                  3leven
17  Nicholas Pileggi, Nicholas Pileggi            Warner Bros.
29       Paulo Lins, BrÃ¡ulio Mantovani               O2 Filmes
42                          Luc Besson                 Gaumont
62      Harry Grey, Leonardo Benvenuti        The Ladd Company
95                       Paul Schrader       Columbia Pictures
98                        Oliver Stone      Universal Pictures

                                               actors  \
1   Marlon Brando, Al Pacino, James Caan, Richard ...
2   Al Pacino, Robert Duvall, Diane Keaton, Robert...
3   Christian Bale, Heath Ledger, Aaron Eckhart, M...
4   Martin Balsam, John Fiedler, Lee J. Cobb, E.G....
6   Tim Roth, Amanda Plummer, Laura Lovelace, John...
9   Tom Hanks, Rebecca Williams, Sally Field, Mich...
13  Caglar Ertugrul, Ufuk Bayraktar, Ahu TÃ¼rkpenÃ§e...
17  Robert De Niro, Ray Liotta, Joe Pesci, Lorrain...
29  Alexandre Rodrigues, Leandro Firmino, Phellipe...
42  Jean Reno, Gary Oldman, Natalie Portman, Danny...
62  Robert De Niro, James Woods, Elizabeth McGover...
95  Diahnne Abbott, Frank Adu, Victor Argo, Gino A...
98  Al Pacino, Steven Bauer, Michelle Pfeiffer, Ma...

                                          description  avg_vote    votes  \
1   The aging patriarch of an organized crime dyna...       9.2  1572674
2   The early life and career of Vito Corleone in ...       9.0  1098714
3   When the menace known as the Joker wreaks havo...       9.0  2241615
4   A jury holdout attempts to prevent a miscarria...       8.9   668473
6   The lives of two mob hitmen, a boxer, a gangst...       8.9  1780147
9   The presidencies of Kennedy and Johnson, the e...       8.8  1755490
13  In a desolate war zone where screams of the in...       8.8   103949
17                                       The story of       8.7   991505
29  In the slums of Rio, two kids' paths diverge a...       8.6   685856
42  Mathilda, a 12-year-old girl, is reluctantly t...       8.5  1007598
62  A former Prohibition-era Jewish gangster retur...       8.4   302317
95  A mentally unstable veteran works as a nightti...       8.3   703264
98  In 1980 Miami, a determined Cuban immigrant ta...       8.3   721343

    avg_genre_vote
1             8.70
2             8.70
3             8.75
4             8.70
6             8.70
9             8.80
13            8.80
17            8.70
29            8.70
42            8.75
62            8.70
95            8.70
98            8.70

### 9. Extrageti deceniul cu cea mai mare medie a rating-ului filmelor.

*Hint: apply, groupby*

In [142]:
def add_avg_decade_vote(group):
  group['avg_decade_vote'] = np.average(group['avg_vote'])
  return group

movies['decade'] = movies['year'] // 10
movies = movies.groupby('decade').apply(add_avg_decade_vote)
movies = movies[movies['avg_decade_vote'] == np.max(movies['avg_decade_vote'])]
print("First year of the decade: " + str(movies['decade'].values[0]) + '0')

First year of the decade: 2020

### 10. Care pereche actor-regizor are cele mai multe colaborari?

In [146]:
import copy

new_movies = None

def break_line(row):
  print(row)
  res = copy.deepcopy(row)
  actors = row['actors'].split()

  row['actors'] = actors[0]
  row_copy = copy.deepcopy(row)
  for i in range(1, len(actors)):
    global new_movies
    row_copy_aux = copy.deepcopy(row_copy)
    row_copy_aux['actors'] = actors[i]
    row = pd.concat([row, row_copy_aux], axis=0)
  if new_movies is None:
    new_movies = row
  else:
    new_movies = pd.concat([row, new_movies], axis=0)
  return res


movies = pd.read_csv("datasets/movies.csv")
movies = movies.groupby('imdb_title_id').apply(break_line)
# print(new_movies)

   imdb_title_id original_title  year                  genre  duration  \
79     tt0012349        The Kid  1921  Comedy, Drama, Family        68

           director           writer           production_company  \
79  Charles Chaplin  Charles Chaplin  Charles Chaplin Productions

                                               actors  \
79  Carl Miller, Edna Purviance, Jackie Coogan, Ch...

                                          description  avg_vote   votes
79  The Tramp cares for an abandoned child, but ev...       8.3  109038
   imdb_title_id original_title  year                  genre  duration  \
79     tt0012349        The Kid  1921  Comedy, Drama, Family        68

           director           writer           production_company  \
79  Charles Chaplin  Charles Chaplin  Charles Chaplin Productions

                                               actors  \
79  Carl Miller, Edna Purviance, Jackie Coogan, Ch...

                                          description  avg_vote   votes
79  The Tramp cares for an abandoned child, but ev...       8.3  109038

AttributeError: 'Series' object has no attribute 'split'

Referinte bibliografice:

[1] https://docs.dask.org/en/stable/

[2] https://spark.apache.org/docs/latest/api/python/